<a href="https://colab.research.google.com/github/Ariel-Chole/MMDT_T-PY101_Batch03/blob/main/Chit_Zin_Win/Ex2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [19]:
len("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [20]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
print(s.lower().count("python"))

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [21]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(ls1 + ls2))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [22]:
my_dict = {"Name": ['Myo','Thida'], "Age": [32,64]}
print(my_dict)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [23]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
com_1 = set1.union(set2)
com_2 = set1.intersection(set2)
print("The union combined set is {} and its length is {}.".format(com_1,len(com_1)))
print("The intersection combined set is {} and its length is {}.".format(com_2,len(com_2)))

The union combined set is {'age', 'status', 'Height', 'Education', 'Name'} and its length is 5.
The intersection combined set is {'Name'} and its length is 1.

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [32]:
user_input = input("Enter a string: ")
new_string = user_input.replace(user_input[1],"*") + "!!!"
print(new_string)

TypeError: 'str' object is not callable

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [25]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower()
s = s.replace("-"," ")
s = s.replace(";"," ")
s = s.replace(","," ")
s = s.replace("."," ")
print(s)

floating point values in python are always done in double precision  hence  python float types correspond to doubles in a c like language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [26]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
l1 = set(L1)
l2 = set(L2)
print(l1.difference(l2))

{49}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [27]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list.append("blueberry")
print("The original list is {}.".format(ls1))
print("The copy and modified list is {}.".format(new_list))

The original list is ['apple', 'banana', 'cherry'].
The copy and modified list is ['apple', 'banana', 'cherry', 'blueberry'].