<a href="https://colab.research.google.com/github/Ariel-Chole/MMDT_T-PY101_Batch03/blob/main/Chit_Zin_Win/Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [ ]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(10,5)

*****
*****
*****
*****
*****
*****
*****
*****
*****
*****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [ ]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(2)

62

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [ ]:
def number_of_factors(number):
  total_factors =0
  for  i in range(1,number+1):
    if number % i == 0:
      total_factors += 1
  print(f"The number {number} has {total_factors} total factors.")

number_of_factors(256)

The number 256 has 9 total factors.

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [ ]:
def first_diff(first_str,second_str):
  first_str = first_str.lower()
  second_str = second_str.lower()
  first_len = len(first_str)
  second_len = len(second_str)
  min_len = min(first_len,second_len)
  for i in range(min_len):
    if first_str[i] != second_str[i]:
      return i
  if first_len != second_len:
    return min_len
  return -1
first_diff("Hella", "hello!")

4

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [ ]:
def root(x,n=2):
  return x/n

root(4)

2.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [ ]:
def solve_equ(a,b,c,d,e,f):
  x = (e*d - b*f)/(a*d - c*b)
  y = (e*c - a*f)/(b*c - a*d)

  return x,y


solve_equ(1,2,3,4,5,6)

(-4.0, 4.5)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [ ]:
def change_case(input_str):
  result = ""
  for char in input_str:
    if char.islower():
      result += char.upper()
    else:
      result += char.lower()
  return result

change_case("ChitzWin")

'cHITZwIN'

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [ ]:
def prime(n = 100):
  primes = []
  first_prime = 2
  num = 2

  while len(primes) < n:
    is_prime = True
    for i in range(first_prime,num):
      if num % i == 0:
        is_prime = False
        break
    else:
      primes.append(num)
    num += 1

  return primes


prime(10)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [ ]:
import random
def Tic_tac_toe(board):
  empty_spot = []

  for i in range(3):
    for j in range(3):
      if board[i][j] == 0:
        empty_spot.append((i,j))
  empty_row,empty_col = random.choice(empty_spot)
  board[empty_row][empty_col] = 2
  return board

Tic_tac_toe([[0,1,0],
             [1,2,0],
             [0,0,2]])

[[0, 1, 0], [1, 2, 2], [0, 0, 2]]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”

In [1]:
def sudoku(board):
  for row in range(9):
    if set(board[row]) != set(range(1,10)):
      return False

  for col in range(9):
    columns = []
    for row in range(9):
      columns.append(board[row][col])
    if set(columns) != set(range(1,10)):
      return False

  for i in range(0,6,3):
    for j in range(0,6,3):
      block = []
      for col in range(i,i+3):
        for row in range(j,j+3):
          block.append(board[row][col])
      if set(block) != set(range(1,10)):
        return False

  return True

board = [
    [5,3,4,6,7,8,9,1,2],
    [6,7,2,1,9,5,3,4,8],
    [1,9,8,3,4,2,5,6,7],
    [8,5,9,7,6,1,4,2,3],
    [4,2,6,8,5,3,7,9,1],
    [7,1,3,9,2,4,8,5,6],
    [9,6,1,5,3,7,2,8,4],
    [2,8,7,4,1,9,6,3,5],
    [3,4,5,2,8,6,1,7,9]
]

sudoku(board)

True